<div class="card">
  <div class="card-body d-flex flex-column align-items-center">
    <div class="d-flex justify-content-between align-items-center w-100">
      <button
        *ngIf="edit && debug"
        class="btn btn-danger btn-sm"
        (click)="onPodiumRemove.next()"
      >
        <i class="fa-solid fa-trash"></i>
      </button>
      @let battLevel = (podium.isCharging?null:podium.battLevel)??0;
      <div class="d-flex align-items-center">
        <div class="battery">
          <div [ngClass]="{ 'charge-logo': podium.isCharging }">
            <div
              class="battery-level"
              [ngClass]="{
                'alert-batt': battLevel < 30,
                warn: battLevel >= 30 && battLevel < 65
              }"
              [style.height.%]="battLevel"
            ></div>
          </div>
        </div>
        <span class="ms-1">{{
          podium.isCharging ? "CHG" : battLevel + "%"
        }}</span>
      </div>

      @let s = status;
      <span
        class="text-center tag m-0"
        [ngClass]="'bg-' + s.color"
        style="text-transform: uppercase"
      >
        {{ s.title }}
      </span>
      <div style="width: 24px">
        <div *ngIf="edit" class="example-handle" cdkDragHandle>
          <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
            <path
              d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"
            ></path>
            <path d="M0 0h24v24H0z" fill="none"></path>
          </svg>
        </div>
      </div>
    </div>
    <div *ngIf="debug">
      {{ podium.battLevel }}% | {{ podium.battVoltage }}mV
    </div>
    @let npc = namePlateColor;
    <div class="image d-flex align-items-center justify-content-center w-100">
      <div
        class="d-flex position-relative"
        style="
          width: 100%;
          aspect-ratio: 16/10;
          object-fit: cover;
          object-position: center;
        "
      >
        <img
          class="rounded-2"
          [defaultImage]="'profile'"
          style="
            width: 100%;
            aspect-ratio: 16/10;
            object-fit: cover;
            object-position: center;
          "
          [src]="podium.photo"
        />
        <div *ngIf="edit" class="position-absolute top-0 left-0">
          <button class="btn btn-primary btn-sm" (click)="uploadImage()">
            <i class="fa-solid fa-arrow-up-from-bracket"></i>
          </button>
        </div>
      </div>
    </div>
    <div
      [ngClass]="npc.isClass ? npc.color : null"
      [ngStyle]="{ 'background-color': !npc.isClass ? npc.color : null }"
      class="podium border border-black border-5 rounded-3 w-100 h-100 d-flex align-items-center justify-content-center"
    >
      <h4 *ngIf="!edit" class="text-clamp-1 m-0 text-center">
        {{ podiumTitle }}
      </h4>
      <div>
        <input
          *ngIf="edit"
          id="titleInput"
          class="fs-4 form-control text-center fw-bold"
          [ngClass]="npc.isClass ? npc.color : null"
          style="background-color: transparent; border-color: transparent"
          [ngStyle]="{ 'background-color': !npc.isClass ? npc.color : null }"
          [ngModel]="podiumTitle"
          (change)="titleChange($event)"
          name="title"
          [placeholder]="'Podium ' + readableIndex"
        />
      </div>
    </div>

    <span class="mb-0" *ngIf="debug">{{ podium.battVoltage }}mV </span>
    <div
      class="text-center d-flex flex-column"
      [ngStyle]="{ visibility: podiumPlacement == null ? 'hidden' : 'visible' }"
    >
      <h1 class="mb-0" style="min-height: 3rem">
        {{
          podiumPlacement != null
            ? podiumPlacementBase1 +
              "" +
              (ordinalIndicators[podiumPlacementBase1] ?? "th")
            : ""
        }}
      </h1>
      <label style="margin-top: -10px">Place</label>
    </div>

    <div>
      <button
        type="button"
        [disabled]="disableSpotlightBtn && !disableBtnSafety"
        class="btn btn-secondary"
        (click)="onSpotlight.emit()"
      >
        Spotlight
      </button>
      <button
        *ngIf="headlessMode"
        type="button"
        [disabled]="disableSpotlightBtn && !disableBtnSafety"
        class="btn btn-secondary btn-sm"
        (click)="onBtnPress.emit()"
      >
        Btn
      </button>
    </div>
    <div class="text-center d-flex flex-column">
      <h1 *ngIf="!editPoints" class="mb-0">
        {{ podium.scoring?.points ?? "0" }}
      </h1>
      <input
        *ngIf="editPoints"
        class="form-control fs-2 text-center p-0"
        type="number"
        [ngModel]="podium.scoring?.points ?? 0"
        (change)="pointsChange($event)"
        (keydown)="
          (allowNegativePoints
            ? ['e', 'E', '+']
            : ['e', 'E', '+', '-']
          ).includes($event['key'])
            ? $event.preventDefault()
            : null
        "
      />
      <label style="margin-top: -5px">Points</label>
    </div>
    <span *ngIf="debug">{{ index }} | {{ podium.macAddr }}</span>
  </div>
</div>
