:host {
  display: block;
  height: 100vh;
}
.row-cols-5 > .col-sp {
  flex: 0 0 auto;
  width: 20%;
}
.text-shadow {
  text-shadow: 3px 1px 2px rgba(0, 0, 0, 0.77);
}
.team {
  width: fit-content;
  max-height: 100%;
  flex-grow: 1;
  height: 100%;
}
.scoreboard {
  width: fit-content;
  flex-grow: 10;
  margin-right: 1.5em;
  min-width: 25%;
  max-width: 40%;
  max-height: 100%;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#title-bar:hover {
  opacity: 0.5;
}
.ans-reaveal-window {
  pointer-events: none;
  z-index: 200;
  transition: opacity 1s ease-in-out;
  /* No default opacity here - we'll let Angular control it */
}
@keyframes multi-blink {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes multi-blink-inv {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.reset-blink {
  animation: none;
  transition: opacity 1s;
}
.correct-ans-window {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: rgb(44, 213, 58);
  background: radial-gradient(
    circle,
    rgba(44, 213, 58, 0) 0%,
    rgba(44, 213, 58, 0.20989912974683544) 67%,
    rgba(44, 213, 58, 0.37129153481012656) 100%
  );
  .neon {
    color: rgb(255, 255, 255);
    text-shadow: rgb(255, 255, 255) 0px 0px 5px, rgb(255, 255, 255) 0px 0px 10px,
      rgb(255, 255, 255) 0px 0px 15px, rgb(73, 255, 24) 0px 0px 20px,
      rgb(73, 255, 24) 0px 0px 30px, rgb(73, 255, 24) 0px 0px 40px,
      rgb(73, 255, 24) 0px 0px 55px, rgb(73, 255, 24) 0px 0px 75px;
    --darkreader-inline-color: var(--darkreader-text-ffffff, #e8e6e3);
    --darkreader-inline-bgimage: initial;
    --darkreader-inline-bgcolor: var(--darkreader-background-232323, #1a1d1e);
  }
}
.wrong-ans-window {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: rgb(255, 43, 43);
  background: radial-gradient(
    circle,
    rgba(255, 43, 43, 0) 0%,
    rgba(255, 43, 43, 0.20989912974683544) 67%,
    rgba(255, 43, 43, 0.37129153481012656) 100%
  );
  .neon {
    color: rgb(255, 255, 255);
    text-shadow: rgb(255, 255, 255) 0px 0px 5px, rgb(255, 255, 255) 0px 0px 10px,
      rgb(255, 255, 255) 0px 0px 15px, rgb(255, 43, 43) 0px 0px 20px,
      rgb(255, 43, 43) 0px 0px 30px, rgb(255, 43, 43) 0px 0px 40px,
      rgb(255, 43, 43) 0px 0px 55px, rgb(255, 43, 43) 0px 0px 75px;

    // Removed the DarkReader variables as they're not necessary
    // unless you specifically need them for a dark mode extension
  }
}

.blinking-element {
  animation: multi-blink 0.5s ease-in-out forwards;

  // If you want the animation to run only once instead of infinitely:
  // animation: blink 1s ease-in-out forwards;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.team-item:not([style*="visibility: hidden"]) {
  /* width: initial !important; */
  transition: width 1s ease-in-out, font-size 5s ease-in-out;
}
#title-bar {
  pointer-events: all;
  user-select: none;
  -webkit-app-region: drag;
  height: 31px;
  opacity: 0;
  padding: none;
  margin: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 1000;
  background-color: var(--bs-body-bg);
  transition: opacity 0.5s;
}

.main-window {
  transition: opacity 1s;
  display: flex;
}
#title {
  position: fixed;
  top: 0px;
  left: 6px;
}

#title-bar-btns {
  -webkit-app-region: no-drag;
  position: fixed;
  top: 0px;
  right: 0px;
}

h2 {
  margin: 0.1em 0;
  position: relative;
  display: flex;
  align-items: baseline;
  font-size: 48px;
}

h2 + span {
  display: block;
  width: 100%;
  text-align: right;
}

.dot-pulse {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--background-color);
  color: var(--background-color);
  box-shadow: 9999px 0 0 -5px;
  animation: dot-pulse 1.5s infinite linear;
  animation-delay: 0.25s;
}
.dot-pulse::before,
.dot-pulse::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--background-color);
  color: var(--background-color);
}
.dot-pulse::before {
  box-shadow: 9984px 0 0 -5px;
  animation: dot-pulse-before 1.5s infinite linear;
  animation-delay: 0s;
}
.dot-pulse::after {
  box-shadow: 10014px 0 0 -5px;
  animation: dot-pulse-after 1.5s infinite linear;
  animation-delay: 0.5s;
}

@keyframes dot-pulse-before {
  0% {
    box-shadow: 9984px 0 0 -5px;
  }
  30% {
    box-shadow: 9984px 0 0 2px;
  }
  60%,
  100% {
    box-shadow: 9984px 0 0 -5px;
  }
}
@keyframes dot-pulse {
  0% {
    box-shadow: 9999px 0 0 -5px;
  }
  30% {
    box-shadow: 9999px 0 0 2px;
  }
  60%,
  100% {
    box-shadow: 9999px 0 0 -5px;
  }
}
@keyframes dot-pulse-after {
  0% {
    box-shadow: 10014px 0 0 -5px;
  }
  30% {
    box-shadow: 10014px 0 0 2px;
  }
  60%,
  100% {
    box-shadow: 10014px 0 0 -5px;
  }
}
