<div *ngIf="!previewMode" id="title-bar">
  <div id="title">Buzzer CC</div>
  <div id="title-bar-btns">
    <button id="close-btn" class="btn btn-sm" (click)="reload()">
      <i class="fa-solid fa-arrows-rotate"></i>
    </button>
    <button id="close-btn" class="btn btn-sm" (click)="fullscreen()">
      <i class="fa-solid fa-expand"></i>
    </button>
    <button
      id="close-btn"
      class="btn btn-sm btn-danger"
      (click)="closeWindow()"
    >
      <i class="fa fa-xmark"></i>
    </button>
  </div>
</div>
<div
  class="h-100 position-relative"
  [ngStyle]="{ 'background-image': 'url(' + (score.bkgImg | async) + ')' }"
  style="
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  "
>
  @let txtFormat = score?.textFormat | async; @let txtFormatStyle = { 'color':
  txtFormat?.secondScrTxtColor??'#FFFFFF'};
  <div
    class="main-window text-white position-absolute top-0 start-0 bottom-0 end-0 d-flex flex-column justify-content-center align-items-center"
    [ngStyle]="{ opacity: (!previewMode && score.editMode | async) ? 1 : 0 }"
  >
    @let prepImg = score.prepImg|async;
    <img
      class="mb-3"
      *ngIf="prepImg"
      [src]="prepImg"
      style="max-width: 30vw; max-height: 30vh"
    />
    <h1 [ngStyle]="txtFormatStyle">Preparing</h1>
    <div
      class="snippet"
      data-title="dot-pulse"
      [ngStyle]="{
        '--background-color': txtFormat?.secondScrTxtColor || '#FFFFFF'
      }"
    >
      <div class="stage">
        <div class="dot-pulse"></div>
      </div>
    </div>
  </div>

  <div
    class="main-window"
    [ngStyle]="{
      opacity: (!previewMode && score.editMode | async) ? 0 : 1,
      color: txtFormat.secondScrTxtColor
    }"
  >
    <div class="scoreboard">

    </div>
    <div class="team">

    </div>
  </div>
</div>
