:host {
  display: block;
  height: 100vh;
}
.row-cols-5 > .col-sp {
  flex: 0 0 auto;
  width: 20%;
}
.text-shadow {
  text-shadow: 3px 1px 2px rgba(0, 0, 0, 0.77);
}
.scoreboard {
  min-width: 20%;
  max-width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#title-bar {
  &:hover {
    opacity: 0.5;
  }
  pointer-events: all;
  -webkit-app-region: drag;
  height: 31px;
  opacity: 0;
  padding: none;
  margin: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
  background-color: var(--bs-body-bg);
  transition: opacity 0.5s;
}
.main-window {
  transition: opacity 1s;
}
#title {
  position: fixed;
  top: 0px;
  left: 6px;
}

#title-bar-btns {
  -webkit-app-region: no-drag;
  position: fixed;
  top: 0px;
  right: 0px;
}

h2 {
  margin: 0.1em 0;
  position: relative;
  display: flex;
  align-items: baseline;
  font-size: 48px;
}

h2 + span {
  display: block;
  width: 100%;
  text-align: right;
}

.dot-pulse {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--background-color);
  color: var(--background-color);
  box-shadow: 9999px 0 0 -5px;
  animation: dot-pulse 1.5s infinite linear;
  animation-delay: 0.25s;
}
.dot-pulse::before,
.dot-pulse::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--background-color);
  color: var(--background-color);
}
.dot-pulse::before {
  box-shadow: 9984px 0 0 -5px;
  animation: dot-pulse-before 1.5s infinite linear;
  animation-delay: 0s;
}
.dot-pulse::after {
  box-shadow: 10014px 0 0 -5px;
  animation: dot-pulse-after 1.5s infinite linear;
  animation-delay: 0.5s;
}

@keyframes dot-pulse-before {
  0% {
    box-shadow: 9984px 0 0 -5px;
  }
  30% {
    box-shadow: 9984px 0 0 2px;
  }
  60%,
  100% {
    box-shadow: 9984px 0 0 -5px;
  }
}
@keyframes dot-pulse {
  0% {
    box-shadow: 9999px 0 0 -5px;
  }
  30% {
    box-shadow: 9999px 0 0 2px;
  }
  60%,
  100% {
    box-shadow: 9999px 0 0 -5px;
  }
}
@keyframes dot-pulse-after {
  0% {
    box-shadow: 10014px 0 0 -5px;
  }
  30% {
    box-shadow: 10014px 0 0 2px;
  }
  60%,
  100% {
    box-shadow: 10014px 0 0 -5px;
  }
}
