<nav-bar></nav-bar>
<div class="container pb-5">
  <div
    class="d-flex align-items-center justify-content-center flex-column"
    style="height: 70vh"
  >
    <div class="text-center mb-5">
      <img src="./assets/images/applogo.png" style="height: 200px;width: 200px;" />
      <h2>Buzzer CC</h2>
      <p>Ver: {{version}} | Firmware Ver: {{gameManager.firmwareVersion}}</p>
      <p>A control center application for managing buzzer podiums</p>
    </div>
  </div>
  <div class="row p-0 m-0">
    <div
      class="d-flex flex-column flex-lg-row col-12 col-lg-6 text-center justify-content-lg-center align-items-lg-center mb-4"
    >
      <img
        class="me-lg-4 mb-4 mb-lg-0"
        src="./assets/images/companyLogo.png"
        style="height: 150px;width: 150px;"
      />
      <div>
        <h3>Property of ACCESS-TIPM</h3>
        <p>Academic Council of Civil Engineering Students Services</p>
      </div>
    </div>
    <div
      class="d-flex flex-column flex-lg-row col-12 col-lg-6 text-center justify-content-lg-center align-items-lg-center mb-4"
    >
      <div>
        <h3>Developed by Rafael Dee</h3>
        <p>if there's any problem, please contact me at</p>
        <a href="https://deerafaelportfolio.web.app/" target="_blank"
          >deerafaelportfolio.web.app</a
        >
      </div>
    </div>
  </div>
</div>
