<router-outlet />
<div>
  <button class="btn btn-primary" (click)="requestPort()">requestPort</button>
  <button class="btn btn-primary" (click)="resetState()">reset state</button>
  <button class="btn btn-primary" (click)="ready()">READY</button>
  @let isConnected = serialServ.connectedDevice|async;
  {{isConnected}}
  <button
    class="btn btn-primary"
    (click)="isConnected ? serialServ.disconnect() : serialServ.connect()"
  >
    {{ isConnected ? "Disconnect" : "Connect" }}
  </button>
  <button class="btn btn-primary" (click)="gameManager.correctAns()">
    CORRECT
  </button>
  <button class="btn btn-primary" (click)="gameManager.wrongAns()">
    WRONG
  </button>
  <button class="btn btn-primary" (click)="gameManager.suspenseAns()">
    SUSPENSE
  </button>
  <div
    cdkDropList
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="drop($event)"
    class="row d-flex g-3 cdk-list"
  >
    <div
      *ngFor="
        let item of gameManager.podiums | keyvalue;
        let i = index;
        trackBy: identify
      "
      class="col-6 col-sm-4 col-md-3 col-lg-sp"
    >
      <app-podium-item class="cdk-item "
        cdkDrag
        [podium]="item.value"
        [index]="i"
        (onSpotlight)="gameManager.spotLightPodium(i)"
      ></app-podium-item>
    </div>
  </div>

  <p>
    {{
      (serialServ.serialSupport | async)
        ? "Supported Browser"
        : "Not Supported Browser"
    }}
  </p>
  <p>{{ (serialServ.connectedDevice | async) ? "" : "Not" }} Connected</p>
  {{ gameManager.buttonPlacing | json }}
</div>
