@let connStatus = serialServ.connectionStatus|async;
<p>{{ connStatus | titlecase }}</p>
setup
<button
  class="btn btn-primary"
  [disabled]="connStatus == 'connecting'"
  (click)="initialize()"
>
  {{connStatus == 'connecting'?'Connecting...':'Connect'}}
</button>
<button class="btn btn-primary" (click)="serialServ.requestPort()">requestPort</button>
<button class="btn btn-primary" (click)="serialServ">headlessMode</button>
<a class="btn btn-primary" href="https://www.silabs.com/developer-tools/usb-to-uart-bridge-vcp-drivers?tab=downloads" target="_blank">Download Drivers</a>
